
03.Operator/
/.metadata/
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
